{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">Productos</h1>
		<p class="mb-4">Informacion de productos</p>
		{% set errors = errors ?? [] %}
		{% set type = type ?? '' %}

		<div class='card'>
			<div class='card-body'>
				<form id='products' method="POST" action='{{ (type == 'POST' or data is null)? path('create_product'): path('update_product', {id: data.id}) }}'>
					<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

					<div class='row'>
						<div class='col-sm-3'>
							<div class='form-group'>
								<div class='form-group'>
									<label for='name'>Nombre</label>
									<input type='text' class='form-control' name='name' value='{{ (data is null)? '': data.name }}' required/>
									{% if errors and errors['name'] is defined %}
										<div class="invalid-feedback d-block">{{errors['name'] }}</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class='col-sm-3'>
							<div class='form-group'>
								<label for='code'>Codigo</label>
								<input type='text' maxlength="10" oninput="this.value = this.value.replace(/[^0-9A-Za-z]/g, '').replace(/(\..*)\./g, '$1');" class='form-control' name='code' value='{{ (data is null)? '': data.code }}' required/>
								{% if errors and errors['code'] is defined %}
									<div class="invalid-feedback d-block">{{errors['code'] }}</div>
								{% endif %}
							</div>
						</div>

						<div class='col-sm-3'>
							<div class='form-group'>
								<label for='price'>Precio</label>
								<input type='number' class='form-control' min="0" name='price' step="0.01" value='{{ (data is null)? '': data.price }}'/>
								{% if errors and errors['price'] is defined %}
									<div class="invalid-feedback d-block">{{errors['price'] }}</div>
								{% endif %}
							</div>
						</div>

						<div class='col-sm-3'>
							<div class='form-group'>
								<label for='tax'>Impuesto</label>
								<select class='form-control' name='tax'>
									{% for row in taxes %}
										<option value='{{row.id}}' {{data and row.id is same as(data.getTax().id)? 'selected': ''}}>{{row.getNombreImpuesto()}}</option>
									{% endfor %}
								</select>
								{% if errors and errors['tax'] is defined %}
									<div class="invalid-feedback d-block">{{errors['tax'] }}</div>
								{% endif %}
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group'>
								<label for='description'>Descripci贸n</label>
								<textarea class="form-control" maxlength="300" required oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" name="description" form="products" rows="3" placeholder='Descripcion'>{{ (data is null)? '': data.description }}</textarea>
								{% if errors and errors['description'] is defined %}
									<div class="invalid-feedback d-block">{{errors['description'] }}</div>
								{% endif %}
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='description1'>Descripci贸n adicional 1</label>
								<textarea class="form-control" maxlength="300" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" name="description1" form="products" rows="3" placeholder='Descripcion'>{{ (data is null)? '': data.getDescriptionAditional1() }}</textarea>
								{% if errors and errors['description1'] is defined %}
									<div class="invalid-feedback d-block">{{errors['description1'] }}</div>
								{% endif %}
							</div>
						</div>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='description2'>Descripci贸n adicional 2</label>
								<textarea class="form-control" maxlength="300" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" name="description2" form="products" rows="3" placeholder='Descripcion'>{{ (data is null)? '': data.getDescriptionAditional2() }}</textarea>
								{% if errors and errors['description2'] is defined %}
									<div class="invalid-feedback d-block">{{errors['description2'] }}</div>
								{% endif %}
							</div>
						</div>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='description3'>Descripci贸n adicional 3</label>
								<textarea class="form-control" maxlength="300" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" name="description3" form="products" rows="3" placeholder='Descripcion'>{{ (data is null)? '': data.getDescriptionAditional3() }}</textarea>
								{% if errors and errors['description3'] is defined %}
									<div class="invalid-feedback d-block">{{errors['description3'] }}</div>
								{% endif %}
							</div>
						</div>
					</div>

					<input type="submit" class='btn btn-primary' value='{{ (type == 'POST' or data is null)? 'Crear': 'Actualizar' }}'/>


				</form>
			</div>
		</div>
	</div>
{% endblock %}
