{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-1 text-gray-800">Clientes</h1>
		<p class="">Informacion de clientes</p>

	{% for message in app.session.flashbag.get('success') %}
		<div class="alert alert-success" role="alert">
			{{message}}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
	{% for message in app.session.flashbag.get('error') %}
			<div class="alert alert-danger" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
	{% endfor %}


<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3 d-flex">
		<h6 class="m-0 font-weight-bold text-primary col-md-2 col-lg-2 col-sm-12 col-xs-12 my-auto">Clientes</h6>
		<div class="d-block col-md-10 col-lg-10 col-sm-12 col-xs-12">
			<a href='{{ path('show_form_customer') }}' class='btn btn-primary float-right'>Nuevo</a>
		</div>

	</div>
	<div class="card-body">
		<form action="{{ path(my_route) }}" method="GET" id="form" class="form py-2 my-lg-0">
			<div class="row">

				<div class="col-sm-12 col-lg-3 col-md-3">
					<div class="form-group row">
						<label class="col-sm-12 col-lg-3 col-md-3 col-xs-12 px-0 ml-2 col-form-label">Mostrar</label>
						<select class="form-control mr-sm-2 col-sm-12 col-lg-4 col-md-4 col-xs-12" name="limit_per_page" id="limit_per_page">
							<option value="10" {{limit_per_page and 10 is same as(limit_per_page)? 'selected': ''}}>10</option>
							<option value="25" {{limit_per_page and 25 is same as(limit_per_page)? 'selected': ''}}>25</option>
							<option value="50" {{limit_per_page and 50 is same as(limit_per_page)? 'selected': ''}}>50</option>
							<option value="100" {{limit_per_page and 100 is same as(limit_per_page)? 'selected': ''}}>100</option>
						</select>
						<label class="col-sm-12 col-lg-4 col-md-4 col-xs-12 col-form-label">registros</label>
					</div>
				</div>

				<div class="col-sm-12 col-lg-3 col-md-3">
					<input type="hidden" name="page" id="current_page" value="{{ current_page }}">
					<input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Buscar..." aria-label="Search">
				</div>
				
				
				<div class="col-sm-12 col-lg-2 col-md-2 col-xs-12">
					<button class="btn btn-sm btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="top" title="Buscar" type="submit"><i class="fa fa-search"></i></button>
					<button id="btn-clean-filter" class="btn btn-sm btn-outline-danger my-2 my-sm-0" data-toggle="tooltip" data-placement="top" title="Limpiar filtro" type="submit"><i class="fa fa-trash"></i></button>
				</div>
				
			</div>


		</form>
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Identificacion</th>
						<th>Email</th>
						<th>Telefono</th>
						<th>Ciudad</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data %}

						<tr>
							<td>{{row.id}}</td>
							<td>{{row.company}}</td>
							<td>{{row.getNumeroIdentificacion()}}</td>
							<td>{{row.email}}</td>
							<td>{{row.phone}}</td>
							<td>{{row.city}}</td>
							<td>
								<div class='row text-center mx-auto justify-content-center'>
									<a href='{{ path('show_form_customer', {id: row.id})}}' class='btn btn-sm btn-success'>
										<i class="fa fa-edit" aria-hidden="true"></i>
									</a>
									<button type="button" class="btn btn-sm btn-danger ml-1" data-toggle="modal" data-target="#delete{{row.id}}">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</div>
							</td>
						</tr>

						<!-- Modal -->
						<div class="modal fade" id="delete{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea eliminar?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Está acción es permanente, está seguro que desea hacerlo?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
										<a href='{{ path('delete_customer', {id: row.id })}}'type="button" class="btn btn-danger">Eliminar</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}


				</tbody>
			</table>
			{% include 'Layouts/pagination.html.twig' with {
				total: total_pages,
				current: current_page,
				limit: limit_per_page,
				route: my_route
			} %}
		</div>
	</div>
</div></div>
<script>

	$('#btn-clean-filter').on('click', function(e) {
			e.preventDefault();
			document.getElementById("search").value="";
			document.getElementById("current_page").value=1;
			$('#form').submit();
	})
	
</script>{% endblock %}
