{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-1 text-gray-800">Ventas</h1>
		<p class="mb-1">Informacion de ventas</p>


		<div class='card'>
			<div class='card-body'>
				<form id='sales' method="POST" action='{{ path('update_sale', {id: data.id}) }}'>
					<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Tipo Identificación</label>
								<input id='tipo_identificacion' required type='text' class='form-control' name='tipo_identificacion' value='{{ (data is null)? '': data.getCustomerId().getTipoIdentificacion() }}' style='pointer-events: none; background-color: #eaecf4; opacity: 1;'/>
							</div>
						</div>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='lastname'>Número Identificación</label>
								<input id='numero_identificacion' required type='text' class='form-control' name='numero_identificacion' value='{{ (data is null)? '': data.getNumeroIdentificacion() }}' style='pointer-events: none; background-color: #eaecf4; opacity: 1;'/>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='lastname'>Email</label>
								<input id='email' type='email' required class='form-control' name='email' value='{{ (data is null)? '': data.email }}' style='pointer-events: none; background-color: #eaecf4; opacity: 1;'/>
							</div>
						</div>
					</div>

                    <div class='row'>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='name'>Clave de acceso</label>
								<input id='tipo_identificacion' type='text' class='form-control'  value='{{ (data is null)? '': data.getClaveAcceso() }}' readonly/>
							</div>
						</div>
						
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Tienda</label>
								<select class='form-control' name='shop' id="shop" onchange="getSeries()">
									{% for row in shops %}
										<option value='{{row.id}}' {{(data is not null and data.getShopId().id is same as(row.id))? 'selected': ''}}>{{row.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Ambiente</label>
								<select class='form-control' name='ambiente'>
									<option value='1' {{data.ambiente is same as('1')? 'selected': ''}}>Pruebas</option>
									<option value='2' {{data.ambiente is same as('2')? 'selected': ''}}>Producción</option>	
								</select>
							</div>
						</div>


						<div class='col-sm-4'>
							<div class='form-group mb-0 pb-0'>
								<label for='email'>Cliente</label>
								<input type="text" class="form-control" onkeyup="searchCustomer()" id="cliente" value="{{data.getCustomerId().getCompany()}}" placeholder="Buscar cliente...">
								<input type="hidden" class="form-control" name="customer" id="client" value="{{ data.getCustomerId().id }}">
							</div>
							<ul class="list-group list-unstyled w-100 overflow-auto" id="myMenuCustomer" style="max-height:120px;position: absolute; z-index: 9999;">
							</ul>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Tipo</label>
								<select class='form-control' name='codigoDocumento' id="codigoDocumento" onchange="getSeries()">
									<option value='01' {{(data is not null and data.getCodigoDocumento() is same as('01'))? 'selected': ''}}>Factura</option>
									<option value='03' {{(data is not null and data.getCodigoDocumento() is same as('03'))? 'selected': ''}}>Liquidación</option>
									<option value='04' {{(data is not null and data.getCodigoDocumento() is same as('04'))? 'selected': ''}}>Nota de crédito</option>
									<option value='05' {{(data is not null and data.getCodigoDocumento() is same as('05'))? 'selected': ''}}>Nota de debito</option>
									<option value='06' {{(data is not null and data.getCodigoDocumento() is same as('06'))? 'selected': ''}}>Guía remisión</option>
									<option value='07' {{(data is not null and data.getCodigoDocumento() is same as('07'))? 'selected': ''}}>Comprobante de retención</option>
								</select>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Serie</label>
								<input type="text" class="form-control" readonly name="serie" value="{{ data.getSerie() }}" id="serie" placeholder="Numero...">

							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Número</label>
								<input type="text" class="form-control" readonly name="numeroSerie" value="{{ data.getSecuencia() }}" id="numeroSerie" placeholder="Numero...">
							</div>
						</div>
					</div>


					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Estado de documento</label>
								<select class='form-control' name='xml_estado'>
									<option value='0' {{(data is not null and data.getXmlEstado() is same as('0'))? 'selected': ''}}>Para enviar</option>
									<option value='1' {{(data is not null and data.getXmlEstado() is same as('1'))? 'selected': ''}}>Pendiente</option>
									<option value='2' {{(data is not null and data.getXmlEstado() is same as('2'))? 'selected': ''}}>Recibida</option>
									<option value='3' {{(data is not null and data.getXmlEstado() is same as('3'))? 'selected': ''}}>Devuelta</option>
									<option value='4' {{(data is not null and data.getXmlEstado() is same as('4'))? 'selected': ''}}>Anulado</option>
									<option value='5' {{(data is not null and data.getXmlEstado() is same as('5'))? 'selected': ''}}>No autorizado</option>
								</select>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Fecha autorizacion</label>
								{# <input type='date' class='form-control' name='fecha_autorizacion' value='{{ (data is null)? '': data.getFechaAutorizacion() }}' required/> #}

							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Tipo emisión</label>
								<select class='form-control' name='tipo_emision'>
									<option value='Normal' {{(data is not null and data.getTipoEmision() is same as('Normal'))? 'selected': ''}}>Normal</option>
								</select>
							</div>
						</div>
                        
					</div>
				
					<div class="p-0 ml-0 mt-2 col-5">
						<div class="form-group">
							<input type="text" class="form-control" onkeyup="myFunction()" id="mySearch" placeholder="Buscar producto...">
						</div>
						<ul class="list-group list-unstyled w-100 overflow-auto" id="myMenu" style="max-height:120px;position: absolute;top: 100%; left: 0;  z-index: 9999;">
						</ul>
					</div>
                    {% set id = 0 %}
                    {% for pro in details %}
                        <div id='container{{id}}' class='row mt-2'>
							<input type='hidden' value = '{{pro.getDescription()}}' id='descripcion{{id}}' name='descripcion[]' />
							<input type='hidden' value = '{{pro.getDescriptionAditional1()}}' id='descripcion_adicional1{{id}}' name='descripcion_adicional1[]'/>
							<input type='hidden' value = '{{pro.getDescriptionAditional2()}}' id='descripcion_adicional2{{id}}' name='descripcion_adicional2[]'/>
							<input type='hidden' value = '{{pro.getDescriptionAditional3()}}' id='descripcion_adicional3{{id}}' name='descripcion_adicional3[]'/>
                            <div class='col-sm-3'>
                                <select style='pointer-events: none;' id='{{id}}' class='form-control' name='products[]'>
									<option selected value='{{ pro.getProductId().id}}'>{{ pro.getProductId().name}} - {{ pro.getProductId().price}}</option>
                                </select>
                            </div>
                            <div class='col-sm-2'>
                                <input id='c{{id}}' required type='number' class='form-control c{{id}}' step='1' min='0' oninput="actualizarCampos({{id}})" name='items[]' value = '{{pro.getProductQuantity()|number_format(0)}}' placeholder='Cantidad'/>
                            </div>
							<div class='col-sm-2'>
								<input id='d{{id}}' required type='number' class='form-control d{{id}}' oninput="actualizarCampos({{id}}})" value = '{{pro.getProductDescuento()|number_format(0)}}' step='1' min='0' name='discounts[]' placeholder='Descuento'/>
							</div>
							<div class='col-sm-2'>
                                <input id='i{{id}}' type='number' class='form-control i{{id}}' step='1' min='0' name='impuestos[]' value = '{{pro.getTaxId()|number_format(0)}}' placeholder='Impuesto' readonly/>
                            </div>
                            <div class='col-sm-2'>
                                <input id='s{{id}}' type='number' class='form-control' placeholder='Subtotal' name='subtotals[]' value = '{{pro.getProductQuantity() * pro.getProductPrice()}}' readonly/>
                            </div>
                            <div class='col-sm-1'>
								<button  id='${i}' onclick="openModal({{id}})" type='button' class='btn btn-sm btn-primary'>
									<i class='fa fa-ellipsis-h' aria-hidden='true'></i>
								</button>
								<button onclick='remove({{pro.getProductId().id}},{{id}})' id='{{id}} 'type='button' class='btn btn-sm btn-danger'>
									<i class='fa fa-trash' aria-hidden='true'></i>
								</button>
								
                            </div>
                        </div>
                        {% set id = id + 1 %}
                    {% endfor %}
					<div id='container_div'></div>

					<hr>
					<div class="row mt-4">
					<div class="col-10">
						<div class="row">
							<div class="mb-2" style="display:contents">
								<h5 class="font-weight-bold mr-auto">Formas de pago</h5>
								<button class="btn btn-primary ml-auto" id="agregar-fila" type="button">
									<i class="fas fa-plus"></i>
								</button>
							</div>
							<table class="table table-bordered m-2" id="tabla-dinamica">
								<thead>
									<tr>
										<th>Forma de pago</th>
										<th>Valor</th>
										<th>Tiempo</th>
										<th>Plazo</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for form in formas %}
									<tr>
										<td class="col-4">
											<select class="form-control" name="forma_pago[]" required>
												<option value="">Seleccionar</option>
												<option value="efectivo" {{(form.forma_pago is same as("efectivo"))? 'selected': ''}}>Efectivo</option>
												<option value="tarjeta" {{(form.forma_pago is same as("tarjeta"))? 'selected': ''}}>Tarjeta</option>
												<option value="transferencia" {{(form.forma_pago is same as("transferencia"))? 'selected': ''}}>Transferencia</option>
											</select>
										</td>
										<td class="col-2">
											<input class="form-control" type="number" name="valor[]" value="{{ form.valor}}" required>
										</td>
										<td class="col-2">
											<select class="form-control" name="tiempo[]" required>
												<option value="">Seleccionar</option>
												<option value="diario" {{(form.tiempo is same as("diario"))? 'selected': ''}}>Diario</option>
												<option value="semanal" {{(form.tiempo is same as("semanal"))? 'selected': ''}}>Semanal</option>
												<option value="mensual" {{(form.tiempo is same as("mensual"))? 'selected': ''}}>Mensual</option>
												<option value="anual" {{(form.tiempo is same as("anual"))? 'selected': ''}}>Anual</option>
											</select>
										</td>
										<td class="col-2">
											<input class="form-control" type="number" value="{{form.plazo}}" name="plazo[]" required>
										</td>
										<td class="col-2 text-center">
											<button class="btn btn-danger eliminar-fila" type="button">
												<i class="fas fa-trash"></i>
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="row mt-3" id="informacion-adicional">
							<div class="col-12">
								<button class="btn btn-primary ml-auto float-right" id="agregar-fila-adicional" type="button">
										<i class="fas fa-plus"></i>
								</button>
							</div>
							<table class="table table-striped m-2" id="tabla-dinamica-informacion">
								<thead>
									<tr>
										<th>Información adicional</th>
										<th>Descripción</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for info in informaciones %}
									<tr>
										<td class="col-4">
											<input required type="text" class="form-control" value="{{ info.titulo_informacion_adicional }}" name="titulo_informacion_adicional[]" placeholder="Ingrese ...">
										</td>
										<td class="col-7">
											<textarea required class="form-control" name="description_informacion_adicional[]" form="sales" rows="3" placeholder='Descripcion'>{{ info.description_informacion_adicional }}</textarea>
										</td>
										<td class="col-1 text-center">
											<button class="btn btn-danger eliminar-fila-adicional" type="button">
												<i class="fas fa-trash"></i>
											</button>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-2">
						<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Descuento %</label>
							<input type='number' value='{{data.getDescuento()}}' id='discount' name='discount' class='form-control' value='0'>
						</div>
					</div>
					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Subtotal</label>
							<input type='number' value='{{data.getSubTotal()}}' id='subtotal' class='form-control' value='0' name='subtotalFinal' readonly>
						</div>


					</div>

					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Impuesto</label>
							<input type='number' id='impuestoFinal' class='form-control' value='0' name='impuestoFinal' readonly>
						</div>


					</div>
					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Total</label>
							<input type='number' value='{{data.getTotal()}}' id='total' class='form-control' value='0' name='total' readonly>
						</div>
					</div>
					</div>
				</div>
					


					<input type="submit" class='btn btn-primary' value='{{ (data is null)? 'Crear': 'Actualizar' }}'/>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-lg">
							<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<div class="row">
										<div class="col-12">
											<div class="form-group">
												<label for="message-text" class="col-form-label">Descripción:</label>
												<textarea class="form-control" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" id="message-text-1"></textarea>
												<span class="font-weight-bold text-sm" id="desc_pr">Caracteres: 0</span>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="message-text" class="col-form-label">Detalle adicional para el item 1:</label>
												<textarea class="form-control" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" id="message-text-2"></textarea>
												<span class="font-weight-bold text-sm" id="desc_pr2">Caracteres: 0</span>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="message-text" class="col-form-label">Detalle adicional para el item 2:</label>
												<textarea class="form-control" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" id="message-text-3"></textarea>
												<span class="font-weight-bold text-sm" id="desc_pr3">Caracteres: 0</span>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group">
												<label for="message-text" class="col-form-label">Detalle adicional para el item 3:</label>
												<textarea class="form-control" oninput="this.value = this.value.replace(/[\n]/g, '').replace(/(\..*)\./g, '$1');" id="message-text-4"></textarea>
												<span class="font-weight-bold text-sm" id="desc_pr4">Caracteres: 0</span>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" onclick="closeModal()" class="btn btn-primary">Guardar</button>
							</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script>
		let textFields = document.querySelectorAll("#exampleModal .modal-body textarea");
		textFields.forEach(function(field) {
			field.addEventListener("keyup", function(e) {
				let id = field.id.split("-")[2];
				let count = e.target.value.length;
				$("#desc_pr" + id).text("Caracteres: " + count);
			});
		});

		var i = '{{ id }}';
		var products_views = [];


		var customers = parseJSON('{{ clients | json_encode }}');
		var series = parseJSON('{{ series | json_encode }}');
		var products = parseJSON('{{ product | json_encode }}');
		var details_js = parseJSON('{{ details_js | json_encode }}');
		var products_add = details_js;

		function parseJSON(input) {
			let output = input.replace(/&quot;/ig,'"');
			return JSON.parse(output);
		}

		$('#serie').on('change', function () {
			id = $(this).val();
			const found = series.find(element => element.id == id);
			document.getElementById("numeroSerie").value = found.secuencia;
		});

		$('#agregar-fila').on('click', function () {
			let tabla = document.querySelector("#tabla-dinamica");
			let cuerpo = tabla.querySelector("tbody");

			// Creamos una nueva fila
			let fila = document.createElement("tr");

			// Agregamos las celdas
			fila.innerHTML = `
								<td class="col-4">
									<select class="form-control" name="forma_pago[]" required>
										<option value="">Seleccionar</option>
										<option value="efectivo">Efectivo</option>
										<option value="tarjeta">Tarjeta</option>
										<option value="transferencia">Transferencia</option>
									</select>
								</td>
								<td class="col-2">
									<input class="form-control" type="number" name="valor[]" required>
								</td>
								<td class="col-2">
									<select class="form-control" name="tiempo[]" required>
										<option value="">Seleccionar</option>
										<option value="diario">Diario</option>
										<option value="semanal">Semanal</option>
										<option value="mensual">Mensual</option>
										<option value="anual">Anual</option>
									</select>
								</td>
								<td class="col-2">
									<input class="form-control" type="number" name="plazo[]" required>
								</td>
								<td class="col-2 text-center">
									<button class="btn btn-danger eliminar-fila" type="button">
										<i class="fas fa-trash"></i>
									</button>
								</td>
						`;
				// Agregamos la fila al cuerpo
				cuerpo.appendChild(fila);

				
		});

		$('#agregar-fila-adicional').on('click', function () {
			let tabla = document.querySelector("#tabla-dinamica-informacion");
			let cuerpo = tabla.querySelector("tbody");

			// Creamos una nueva fila
			let fila = document.createElement("tr");

			// Agregamos las celdas
			fila.innerHTML = `
								<td class="col-4">
									<input type="text" class="form-control" name="titulo_informacion_adicional[]" placeholder="Ingrese ...">
								</td>
								<td class="col-7">
									<textarea class="form-control" name="description_informacion_adicional[]" form="sales" rows="3" placeholder='Descripcion'></textarea>
								</td>
								<td class="col-1 text-center">
									<button class="btn btn-danger eliminar-fila-adicional" type="button">
										<i class="fas fa-trash"></i>
									</button>
								</td>
						`;
				// Agregamos la fila al cuerpo
			cuerpo.appendChild(fila);
				
		});

		$('table tbody').on('click', '.eliminar-fila', function() {
			// Verificar si hay más de una fila
			if ($('#tabla-dinamica tbody tr').length > 1) {
				// Si hay más de una fila, eliminar la fila actual
				$(this).closest('tr').remove();
			}
		});

		$('table tbody').on('click', '.eliminar-fila-adicional', function() {
			// Verificar si hay más de una fila
			if ($('#tabla-dinamica-informacion tbody tr').length > 1) {
				// Si hay más de una fila, eliminar la fila actual
				$(this).closest('tr').remove();
			}
		});

		$('#discount').change(function () {
			updateTotal();
		});

		function remove(id,cont) {
			$('#container' + cont).remove();
			for(let k = 0; k< this.products_add.length; k++){
				if(this.products_add[k].id == id){
					this.products_add.splice(k, 1);

					break;
				}
			}
			document.getElementById("container_div").innerHTML= "";
			productos_agg = this.products_add;
			this.products_add = [];
			for(let k = 0; k< this.productos_agg.length; k++){
				addProduct(this.productos_agg[k].id,this.productos_agg[k].quantity)
				calculatePrice(k)
			}

			updateTotal()
		}

		function myFunction() {
			var input, ul, li;
			input = document.getElementById("mySearch").value;
			ul = document.getElementById("myMenu");
			ul.style.display= "block";
			ul.innerHTML= "";
			li = ul.getElementsByTagName("li");
			

			if(input!=0){
				this.products_views = this.products.filter(product => {
					return (
						product.code.toLowerCase().includes(input.toLowerCase()) ||
						product.name.toLowerCase().includes(input.toLowerCase()) 

					)
				})
				for(let k = 0; k< this.products_views.length; k++){
					ul.insertAdjacentHTML('beforeend',`<li><a class="list-group-item" onclick="addProduct(${this.products_views[k].id})" href="javascript:void(0)">${this.products_views[k].name}</a></li>`)
				}
			}
			
		}

		function getSeries(shop=1, type='03'){
			shop = document.getElementById("shop").value;
			type = document.getElementById("codigoDocumento").value;
			series_view = this.series.filter(serie => {
					return (
						serie.shop_id == shop &&
						serie.codigo_documento == type 
					)
				})
			var select = document.getElementById("serie");
			select.options.length = 0;
			select.options[select.options.length] = new Option("Seleccione una serie","-1")
			for(let k = 0; k < series_view.length; k++){
				select.options[select.options.length] = new Option(series_view[k].serie, series_view[k].id);
			}
			document.getElementById("numeroSerie").value = ""
		}

		function addProduct(id, qty=1){
			document.getElementById("myMenu").innerHTML='';
			document.getElementById("mySearch").value='';
			if(this.products_add.find(element => element.id == id)){
				for(let k = 0; k< this.products_add.length; k++){
					if(this.products_add[k].id==id){
						this.products_add[k].quantity = this.products_add[k].quantity +1; 
						document.getElementById('c'+k).value =this.products_add[k].quantity;
						calculatePrice(k)
						updateTotal();
						return;
					}
				}
			}
			const found = this.products.find(element => element.id == id);
			i=this.products_add.length;
			this.products_add.push(found);
			$('#container_div').append(`
				<div id='container${i}' class='row mt-2'>
					<input type='hidden' id='descripcion${i}' value="${found.name}" name='descripcion[]' />
					<input type='hidden' id='descripcion_adicional1${i}' name='descripcion_adicional1[]'/>
					<input type='hidden' id='descripcion_adicional2${i}' name='descripcion_adicional2[]'/>
					<input type='hidden' id='descripcion_adicional3${i}' name='descripcion_adicional3[]'/>
					<div class='col-sm-3'>
						<select style='pointer-events: none;' id='${i}' class='form-control' name='products[]'>
							<option selected value='${found.id}'>${found.name} - ${found.price}</option>
						</select>
					</div>
					<div class='col-sm-2'>
						<input id='c${i}' required type='number' value='${qty}' class='form-control c${i}' oninput="actualizarCampos(${i})" step='1' min='0' name='items[]' placeholder='Cantidad'/>
					</div>
					<div class='col-sm-2'>
						<input id='d${i}' required type='number' class='form-control d${i}' oninput="actualizarCampos(${i})" step='1' min='0' name='discounts[]' placeholder='Descuento'/>
					</div>
					<div class='col-sm-2'>
						<input id='i${i}' type='number' class='form-control i${i}' step='1' min='0' name='impuestos[]' placeholder='Impuesto' readonly/>
					</div>
					<div class='col-sm-2'>
						<input id ='s${i}' type='number' class='form-control'  placeholder='Subtotal'  name='subtotals[]' readonly/>
					</div>
					<div class='col-sm-1 text-center my-auto'>
						<button  id='${i}' onclick="openModal(${i})" type='button' class='btn btn-sm btn-primary'>
								<i class='fa fa-ellipsis-h' aria-hidden='true'></i>
						</button>
						<button onclick='remove(${found.id},${i})' id='${i} 'type='button' class='btn btn-sm btn-danger'>
							<i class='fa fa-trash' aria-hidden='true'></i>
						</button>
					</div>
				</div>
			`);
			calculatePrice(i)
			updateTotal();
		}

		{# function remove(object) {
			$('#container' + object.id).remove();
			updateTotal()
		} #}

		$('#client').change(function () {
			const value = this.value;
			const client = customers.find(client => client.id == value);
			let email = document.getElementById('email');
			let numero = document.getElementById('numero_identificacion');
			let tipo = document.getElementById('tipo_identificacion');
			email.value = client.email;
			numero.value = client.numeroDocumento;
			tipo.value = client.tipoDocumento;
		});

		selectCustomer = function (id) {
			const client = customers.find(client => client.id == id);
			let email = document.getElementById('email');
			let numero = document.getElementById('numero_identificacion');
			let tipo = document.getElementById('tipo_identificacion');
			email.value = client.email;
			numero.value = client.numeroDocumento;
			tipo.value = client.tipoDocumento;
			document.getElementById("myMenuCustomer").innerHTML='';
			document.getElementById("cliente").value= client.name;
			document.getElementById("client").value= client.id;

		};
		
		searchCustomer =  () => {
			const value = document.getElementById("cliente").value;
			ul = document.getElementById("myMenuCustomer");
			ul.style.display= "block";
			ul.innerHTML= "";
			if(value.length<4){
				ul.innerHTML= "";
				return;
			}
			var clients = this.customers.filter(customer => {
					return (
						customer.numeroDocumento.toLowerCase().includes(value.toLowerCase()) ||
						customer.name.toLowerCase().includes(value.toLowerCase()) 

					)
				})
			for(let k = 0; k< clients.length; k++){
					ul.insertAdjacentHTML('beforeend',`<li><a class="list-group-item list-group-item-action px-3 py-1" style="color:#4e73df" onclick="selectCustomer(${clients[k].id})" href="javascript:void(0)">${clients[k].name}</a></li>`)
			}
			
		};

		function calculatePrice(id){
			const productId = document.getElementById(id).value;
			const amount = document.getElementById('c'+id).value;
			const product = products.find(pro => pro.id == productId );
			const discount = document.getElementById('d'+id).value;

			let subtotal = document.getElementById('s'+id);
			let impuesto = document.getElementById('i'+id);
			subtotal.value = (parseInt(amount) * parseFloat(product.price)).toFixed(2);
			let porcentaje =  parseFloat(product.tax) /100; 
			porcentaje = product.price * porcentaje;
			impuesto.value = (parseInt(amount) * porcentaje).toFixed(2);

			let subtotalFinal = 0;
			let ImpuestoFinal = 0;
			if(discount > 0){
				subtotal.value = (subtotal.value - (subtotal.value * (discount / 100)))
			}

			for(let j=0; j<=i; j++){
				let subtotal = document.getElementById('s'+j);
				if(subtotal){
					let idProduct = document.getElementById(j).value;
					let cant = document.getElementById('c'+j).value;
					let disc = document.getElementById('d'+j).value;
					let pro = products.find(pro => pro.id == idProduct); 
					if(cant)
						subtotalFinal += parseFloat((parseInt(cant) * parseFloat(pro.price)).toFixed(2) - (parseInt(cant) * parseFloat(pro.price) * disc/100));
				}
				if(impuesto){
					let idProduct = document.getElementById(j);
					if(idProduct){
						idProduct = idProduct.value;
						let cant = document.getElementById('c'+j).value;
						let pro = products.find(pro => pro.id == idProduct); 
						let impu = parseFloat(pro.tax)/100;
						let impuestoFloat = impu * pro.price;
						if(cant)
							ImpuestoFinal += parseFloat((parseInt(cant) * impuestoFloat).toFixed(2));
					}
				}
			}
			let subtotalReport = document.getElementById('subtotal');
			subtotalReport.value = subtotalFinal.toFixed(2);
			let impuestoReport = document.getElementById('impuestoFinal');
			impuestoReport.value = ImpuestoFinal.toFixed(2);
			return subtotalFinal.toFixed(2);
		}

		function updateTotal(){
			const subtotal = calculatePrice(0);
			let impuestoReport = document.getElementById('impuestoFinal');
			let discount = document.getElementById('discount').value;
			let total = document.getElementById('total');			

			if(parseFloat(impuestoReport.value))
				total.value = ((((100 - parseFloat(discount)) / 100) * parseFloat(subtotal)) + parseFloat(impuestoReport.value)).toFixed(2);
			else
				total.value = (((100 - parseFloat(discount)) / 100) * parseFloat(subtotal)).toFixed(2)
		}

		function actualizarCampos(id){
			this.products_add[id].quantity=	document.getElementById('c'+id).value;
			calculatePrice(id);
			updateTotal();
		}

		function openModal(id){
			this.id= id
			document.getElementById('message-text-1').value = document.getElementById('descripcion'+id).value
			document.getElementById('desc_pr').innerHTML 	= 'Caracteres: '+document.getElementById('descripcion'+id).value.length ?? 'Caracteres: 0' ;
			document.getElementById('desc_pr2').innerHTML 	= 'Caracteres: '+document.getElementById('descripcion_adicional1'+id).value.length ?? 'Caracteres: 0' ;
			document.getElementById('desc_pr3').innerHTML 	= 'Caracteres: '+document.getElementById('descripcion_adicional2'+id).value.length ?? 'Caracteres: 0' ;
			document.getElementById('desc_pr4').innerHTML 	= 'Caracteres: '+document.getElementById('descripcion_adicional3'+id).value.length ?? 'Caracteres: 0' ;
			document.getElementById('message-text-2').value = document.getElementById('descripcion_adicional1'+id).value
			document.getElementById('message-text-3').value = document.getElementById('descripcion_adicional2'+id).value
			document.getElementById('message-text-4').value = document.getElementById('descripcion_adicional3'+id).value
			$('#exampleModal').modal();
		}      
		
		function closeModal(){
			document.getElementById('descripcion'+this.id).value = document.getElementById('message-text-1').value; 
			document.getElementById('descripcion_adicional1'+this.id).value = document.getElementById('message-text-2').value; 
			document.getElementById('descripcion_adicional2'+this.id).value = document.getElementById('message-text-3').value; 
			document.getElementById('descripcion_adicional3'+this.id).value = document.getElementById('message-text-4').value; 

			document.getElementById('message-text-1').value = '';
			document.getElementById('message-text-2').value = '';
			document.getElementById('message-text-3').value = '';
			document.getElementById('message-text-4').value = '';
			
			$('#exampleModal').modal('hide')
			this.id= null
		}      


	</script>
{% endblock %}
