{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">Ventas</h1>
		<p class="mb-4">Informacion de ventas</p>


		<div class='card'>
			<div class='card-body'>
				<form id='sales' method="POST" action='{{ (data is null)? path('create_sale'): path('update_product', {id: data.id}) }}'>
					<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Tipo Identificación</label>
								<input id='tipo_identificacion' type='text' class='form-control' name='tipo_identificacion' value='{{ (data is null)? '': data.getNumeroIdentificacion() }}' readonly/>
							</div>
						</div>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='lastname'>Número Identificación</label>
								<input id='numero_identificacion' type='text' class='form-control' name='numero_identificacion' value='{{ (data is null)? '': data.getNumeroIdentificacion() }}' readonly/>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='lastname'>Email</label>
								<input id='email' type='email' class='form-control' name='email' value='{{ (data is null)? '': data.email }}' readonly/>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Tienda</label>
								<select class='form-control' name='shop'>
									{% for row in shops %}
										<option value='{{row.id}}' {{(data is not null and data.getShopId().id is same as(row.id))? 'selected': ''}}>{{row.name}}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Ambiente</label>
								<select class='form-control' name='ambiente'>
									<option value='Pruebas'>Pruebas</option>
									<option value='Produccion'>Producción</option>									
								</select>
							</div>
						</div>


						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Cliente</label>
								<select id='client' class='form-control' name='customer'>
									<option value='NA'>Seleccione cliente</option>
									{% for row in customers %}
										<option value='{{row.id}}' {{(data is not null and data.getCustomerId().id is same as(row.id))? 'selected': ''}}>{{row.company}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Estado de documento</label>
								<select class='form-control' name='xml_estado'>
									<option value='Para enviar'>Para enviar</option>
									<option value='Pendiente'>Pendiente</option>
									<option value='Recibida'>Recibida</option>
									<option value='Devuelta'>Devuelta</option>
									<option value='Anulado'>Anulado</option>
									<option value='No autorizado'>No autorizado</option>
								</select>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Fecha autorizacion</label>
								<input type='date' class='form-control' name='fecha_autorizacion' value='{{ (data is null)? '': data.getNumeroIdentificacion() }}' required/>

							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='name'>Tipo emisión</label>
								<select class='form-control' name='tipo_emision'>
									<option value='Normal'>Normal</option>
								</select>
							</div>
						</div>
                        
					</div>

					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group'>
								<label for='email'>Información adicional </label>
                                <textarea class="form-control" name="description" form="sales" rows="3" placeholder='Descripcion'>{{ (data is null)? '': data.getInformationAdicional() }}</textarea>
							</div>
						</div>
                        
					</div>


					<button id="btn" type='button' class='btn btn-success'>Agregar producto</button>

					<div id='container0' class='row'>
						<div class='col-sm-4'>
							<select id='0' class='form-control' name='products[]'>
								{% for row in products %}
									<option value='{{row.id}}'>{{row.name}}
										-
										{{row.price}}</option>
								{% endfor %}
							</select>
						</div>
						<div class='col-sm-3'>
							<input id='c0' type='number' class='form-control c0' step='1' min='0' name='items[]' placeholder='Cantidad'/>
						</div>

						<div class='col-sm-2'>
							<input id='i0' type='number' class='form-control i0' step='1' min='0' name='impuestos[]' placeholder='Impuesto' readonly/>
						</div>

						<div class='col-sm-2'>
							<input id='s0' type='number' class='form-control' placeholder='Subtotal' name='subtotals[]' readonly/>
						</div>
						<div class='col-sm-1'>
							<button onclick='remove(this)' id='0' type='button' class='btn btn-danger'>Quitar</button>
						</div>
					</div>
					<div id='container_div'></div>

					<hr>
					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Descuento %</label>
							<input type='number' id='discount' name='discount' class='form-control' value='0'>
						</div>
					</div>
					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Subtotal</label>
							<input type='number' id='subtotal' class='form-control' value='0' name='subtotalFinal' readonly>
						</div>


					</div>

					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Impuesto</label>
							<input type='number' id='impuestoFinal' class='form-control' value='0' name='impuestoFinal' readonly>
						</div>


					</div>
					<div class="d-flex flex-row-reverse">
						<div class="p-2">
							<label>Total</label>
							<input type='number' id='total' class='form-control' value='0' name='total' readonly>
						</div>
					</div>


					<input type="submit" class='btn btn-primary' value='{{ (data is null)? 'Crear': 'Actualizar' }}'/>


				</form>
			</div>
		</div>
	</div>
	<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script>
		let i = 0;
		let jsonProducts = '{{ product | json_encode }}';
		let customers ='{{ clients | json_encode }}';
		jsonProducts = jsonProducts.replace(/&quot;/ig,'"');
		customers = customers.replace(/&quot;/ig,'"');
		const products = JSON.parse(jsonProducts);
		customers = JSON.parse(customers);
		$('#btn').on('click', function () {
			i++;
			$('#container_div').append(`
				<div id='container${i}' class='row'>
					<div class='col-sm-4'>
						<select id='${i}' class='form-control' name='products[]'>
							{% for row in products %}
								<option value='{{row.id}}'>{{row.name}} - {{row.price}}</option>
							{% endfor %}
						</select>
					</div>
					<div class='col-sm-3'>
						<input id='c${i}' type='number' class='form-control c${i}' step='1' min='0' name='items[]' placeholder='Cantidad'/>
					</div>
					<div class='col-sm-2'>
						<input id='i${i}' type='number' class='form-control i${i}' step='1' min='0' name='impuestos[]' placeholder='Impuesto' readonly/>
					</div>
					<div class='col-sm-2'>
						<input id ='s${i}' type='number' class='form-control'  placeholder='Subtotal'  name='subtotals[]' readonly/>
					</div>
					<div class='col-sm-1'>
						<button onclick='remove(this)' id='${i} 'type='button' class='btn btn-danger'>Quitar</button>
					</div>
				</div>
			`);

			$('.c'+i ).change(function () {
				const id = this.id;
				calculatePrice(id.slice(1));
				updateTotal();
			});

			$('#'+i ).change(function () {
				const id = this.id;
				calculatePrice(id);
				updateTotal();
			});

		});
		$('.c0').change(function () {
			calculatePrice(0);
			updateTotal()
		});
		$('.i0').change(function () {
			calculatePrice(0);
			updateTotal()
		});

		$('#discount').change(function () {
			updateTotal();
		});

		function remove(object) {
			$('#container' + object.id).remove();
		}

		$('#client').change(function () {
			const value = this.value;
			const client = customers.find(client => client.id == value);
			let email = document.getElementById('email');
			let numero = document.getElementById('numero_identificacion');
			let tipo = document.getElementById('tipo_identificacion');
			email.value = client.email;
			numero.value = client.numeroDocumento;
			tipo.value = client.tipoDocumento;
		});

		function calculatePrice(id){
			const productId = document.getElementById(id).value;
			const amount = document.getElementById('c'+id).value;
			const product = products.find(pro => pro.id == productId );
			let subtotal = document.getElementById('s'+id);
			let impuesto = document.getElementById('i'+id);
			subtotal.value = (parseInt(amount) * parseFloat(product.price)).toFixed(2);
			console.log(product)
			let porcentaje =  parseFloat(product.tax) /100; 
			porcentaje = product.price * porcentaje;
			impuesto.value = (parseInt(amount) * porcentaje).toFixed(2);

			let subtotalFinal = 0;
			let ImpuestoFinal = 0;

			for(let j=0; j<=i; j++){
				let subtotal = document.getElementById('s'+j);
				let impuesto = document.getElementById('i'+j);

				if(subtotal){
					let idProduct = document.getElementById(j).value;
					let cant = document.getElementById('c'+j).value;
					let pro = products.find(pro => pro.id == idProduct); 
					if(cant)
						subtotalFinal += parseFloat((parseInt(cant) * parseFloat(pro.price)).toFixed(2));
				}

				if(impuesto){
					let idProduct = document.getElementById(j).value;
					let cant = document.getElementById('c'+j).value;
					let pro = products.find(pro => pro.id == idProduct); 
					let impu = parseFloat(pro.tax)/100;
					let impuestoFloat = impu * pro.price;
					console.log(impuestoFloat)
										console.log(cant)

					if(cant)
						ImpuestoFinal += parseFloat((parseInt(cant) * impuestoFloat).toFixed(2));
				}
			}
			let subtotalReport = document.getElementById('subtotal');
			let impuestoReport = document.getElementById('impuestoFinal');

			subtotalReport.value = subtotalFinal.toFixed(2);
			impuestoReport.value = ImpuestoFinal.toFixed(2);

			return subtotalFinal.toFixed(2);
		}

		function updateTotal(){
			const subtotal = calculatePrice(0);
			let impuestoReport = document.getElementById('impuestoFinal');
			let discount = document.getElementById('discount').value;
			let total = document.getElementById('total');
			console.log(impuestoReport.value);
			

			if(parseFloat(impuestoReport.value))
				total.value = ((((100 - parseFloat(discount)) / 100) * parseFloat(subtotal)) + parseFloat(impuestoReport.value)).toFixed(2);
			else
				total.value = (((100 - parseFloat(discount)) / 100) * parseFloat(subtotal)).toFixed(2)
		}



	</script>
{% endblock %}
