{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">Tiendas</h1>
		<p class="mb-4">Informacion de tiendas</p>
	

<a href='{{ path('show_form_shop') }}' class='btn btn-primary mb-4'>Nuevo</a>
{% for message in app.session.flashbag.get('success') %}
	<div class="alert alert-success" role="alert">
		{{message}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}
{% for message in app.session.flashbag.get('error') %}
			<div class="alert alert-danger" role="alert">
				{{message}}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
{% endfor %}



<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Identificacion</th>
						<th>Email</th>
						<th>Contribuyente</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Identificacion</th>
						<th>Email</th>
						<th>Contribuyente</th>
						<th>Acciones</th>
					</tr>
				</tfoot>
				<tbody>
					{% for row in data %}

						<tr>
							<td>{{row.id}}</td>
							<td>{{row.name}}</td>
							<td>{{row.getNumeroIdentificacion()}}</td>
							<td>{{row.email}}</td>
							<td>{{row.getContribuyenteEspecial()}}</td>
							<td>
								<div class='row'>
									<div class'col-sm-6'>
										<a href='{{ path('show_form_shop', {id: row.id})}}' class='btn btn-success'>Editar</a>
									</div>
									<div class'col-sm-6'>
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{row.id}}">
											Eliminar
										</button>
									</div>
								</div>
							</td>
						</tr>

						<!-- Modal -->
						<div class="modal fade" id="delete{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Esta seguro que desea eliminar?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Está acción es permanente, está seguro que desea hacerlo?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
										<a href='{{ path('delete_shop', {id: row.id })}}'type="button" class="btn btn-danger">Eliminar</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}


				</tbody>
			</table>
		</div>
	</div>
</div></div><script>
$(document).ready(function () {
$('#example').DataTable();
});</script>{% endblock %}
