{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">Empleados</h1>
		<p class="mb-4">Informacion de empleados</p>


		<div class='card'>
			<div class='card-body'>
				<form method="POST" action='{{ (data is null)? path('create_employee'): path('update_employee', {id: data.id}) }}'>
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

					<div class='row'>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='name'>Nombre</label>
								<input type='text' class='form-control' name='firstname' value='{{ (data is null)? '': data.firstname }}' required/>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='lastname'>Apellido</label>
								<input type='text' class='form-control' name='lastname' value='{{ (data is null)? '': data.lastname }}' required/>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='email'>Email</label>
								<input type='email' class='form-control' name='email' value='{{ (data is null)? '': data.email }}' required/>
							</div>
						</div>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='email'>Contraseña</label>
								<input type='password' class='form-control' name='password'/>
							</div>
						</div>
					</div>

                    <input type="submit" class='btn btn-primary' value='{{ (data is null)? 'Crear': 'Actualizar' }}'/>


				</form>
			</div>
		</div>
    </div>
	{% endblock %}
