{% extends 'Layouts/header.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1 class="h3 mb-2 text-gray-800">shopseries</h1>
		<p class="mb-4">Informacion de shopserieos</p>


		<div class='card'>
			<div class='card-body'>
				<form id='shopseries' method="POST" action='{{ (data is null)? path('create_shopseries'): path('update_shopseries', {id: data.id}) }}'>
					<input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>

					<div class='row'>
						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='email'>Nombre establecimiento</label>
								<input type='text' class='form-control' name='name' value='{{ (data is null)? '': data.getNombreComercial() }}' required/>
							</div>
						</div>

						<div class='col-sm-6'>
							<div class='form-group'>
								<label for='email'>Tienda</label>
								<select class='form-control' name='shop'>
                                	{% for row in shops %}
									    <option value='{{row.id}}' {{(data is not null and data.getShopId().id is same as(row.id))? 'selected': ''}}>{{row.name}}</option>
                                    {% endfor %}
								</select>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-4'>
							<div class='form-group'>
								<div class='form-group'>
									<label for='email'>Tipo documento</label>
									<input type='text' class='form-control' name='tipoDocumento' value='{{ (data is null)? '': data.getTipoDocumento() }}' required/>
								</div>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Serie</label>
								<input type='text' class='form-control' name='serie' value='{{ (data is null)? '': data.serie }}' required/>
							</div>
						</div>

						<div class='col-sm-4'>
							<div class='form-group'>
								<label for='email'>Secuencia</label>
								<input type='text' class='form-control' name='secuencia' value='{{ (data is null)? '': data.secuencia }}' required/>
							</div>
						</div>
					</div>

					<div class='row'>
						<div class='col-sm-12'>
							<div class='form-group'>
								<div class='form-group'>
									<label for='email'>Dirección del establecimiento</label>
									<textarea class="form-control" name="address" form="shopseries" rows="3" placeholder='Dirección'>{{ (data is null)? '': data.getDireccionEstablecimiento() }}</textarea>
								</div>
							</div>
						</div>
					</div>

					<input type="submit" class='btn btn-primary' value='{{ (data is null)? 'Crear': 'Actualizar' }}'/>


				</form>
			</div>
		</div>
	</div>
{% endblock %}
